/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom */
body {
  background-color: #e0e0e0;
}
header,
footer {
  height: 100px;
  background-color: #386665;
}
.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}
/* flex  */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
/* header  */
.header {
  position: fixed;
  width: 100%;
}
.header-img img {
  width: 50px;
  height: 50px;
  padding: 30px;
}
.header-nav {
  padding: 20px;
  margin: 20px;
}
.header-nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  padding: 0 20px;
}
/* article  */
.body-article {
  background-color: #94b998;
  padding-top: 100px;
}
h2 {
  font-size: 30px;
  padding: 20px;
}
.body-header {
  width: 60%;
}
.body-header p {
  font-size: 15px;
  line-height: 2;
  padding: 20px;
}
.body-img {
  width: 30%;
  padding: 30px;
}
.img-row {
  margin: 50px 0;
}
img {
  width: 300px;
  height: 200px;
}
.gallery {
  background-color: #96b4c2;
}
/* footer  */
.footer-nav {
  padding: 20px;
  margin: 20px;
}
.footer-nav a {
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
}
.footer-span {
  font-size: 20px;
  padding: 20px;
}
